<div id="page_wrapper">
	<div id="profile_image">
        <%= image_tag "getPhoto.jpeg" %>
	</div>

	<div id="content">
		<h1>What up! I'm Eric Slayton</h1>
		<p>Welcome to my demo web blog built in Rails 4</p>
		<p>This was made possible via Mackenzie Child's 12 in 12 challenge. Look him up on YouTube!</p>
		<p>I'd like to give credit where it's due so find him and give him a shout on Twitter
		<a href="http://twitter.com/mackenziechild">@MackenzieChild</a> or on the web at 
		<a href="http://mackenziechild.me">mackenziechild.me</a>
		</p>
	</div>
</div>